## Instalación de SQLAlchemy

Cualquier versión de Python superior a 2.7 es necesaria para instalar SQLAlchemy. La forma más fácil de instalar es mediante el uso de Python Package Manager pip. Esta utilidad se incluye con la distribución estándar de Python.

Primero creamos un entorno virtual y lo activamos

`python venv BD2-ORM`

`BD2-ORM\Scripts\activate`

Luego, instalamos SQLalchemy

`pip install sqlalchemy`

Si, en cambio, tenemos conda, podemos instalar el ORM a través de

`conda install -c anaconda sqlalchemy`

verificamos si SQLAlchemy está instalado correctamente

In [ ]:
import sqlalchemy
sqlalchemy.__version__

# SQLAlchemy Core

## Conexión a la Base de Datos

La función `create_engine()` toma la base de datos como un argumento. No es necesario definir la base de datos en ninguna parte. El formulario de llamada estándar tiene que enviar la URL como el primer argumento posicional, generalmente una cadena que indica el dialecto de la base de datos y los argumentos de conexión. Usando el código que se indica a continuación, podemos crear una base de datos.

In [ ]:
from sqlalchemy import create_engine

# Para SQLite
engine = create_engine('sqlite:///college.db', echo = True)

# Para MySQL
# engine = create_engine("mysql://user:pwd@localhost/college",echo = True)

In [ ]:
import os
db_path = os.path.abspath("college.db")
print(f"Ruta de la base de datos: {db_path}")

| Sr.No. | Método         | Descripción                                                                                                      |
|--------|----------------|------------------------------------------------------------------------------------------------------------------|
| 1      | `connect()`    | Devuelve un objeto de conexión                                                                                  |
| 2      | `execute()`    | Ejecuta una construcción de sentencia SQL                                                                       |
| 3      | `begin()`      | Devuelve un administrador de contexto que proporciona una conexión con una transacción. Si se completa con éxito, la transacción se confirma; de lo contrario, se revierte |
| 4      | `dispose()`    | Elimina el pool de conexiones utilizado por el Engine                                                           |
| 5      | `driver()`     | Nombre del driver del Dialect usado por el Engine                                                               |
| 6      | `table_names()`| Devuelve una lista con todos los nombres de tablas disponibles en la base de datos                              |
| 7      | `transaction()`| Ejecuta la función dada dentro de los límites de una transacción                                                |

## Creación de Tablas

El objeto de columna SQLAlchemy representa un columna en una tabla de base de datos que a su vez está representada por un Tableobjeto. Los metadatos contienen definiciones de tablas y objetos asociados, como índice, vista, disparadores, etc.

In [ ]:
from sqlalchemy import Table, Column, Integer, String, MetaData

# Metadata es una colección de objetos de tabla y sus construcciones de esquema asociadas
meta = MetaData()

students = Table(
   # definimos el nombre de la tabla y lo acompañamos con el objeto MetaData
   'students', meta, 
   # El objeto de columna representa a columna en a tabla de bases de datos
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

La función `create_all()` utiliza el objeto motor para crear todos los objetos de tabla definidos y almacena la información en metadatos.

In [ ]:
meta.create_all(engine)

## Expresiones SQL

Las expresiones SQL se construyen usando métodos correspondientes con respecto al objeto de tabla de destino. Por ejemplo, la instrucción `INSERT` se crea ejecutando el método `insert()` de la siguiente manera

In [ ]:
ins = students.insert()
str(ins)

Es posible insertar valor en un campo específico mediante valores() método para insertar objeto

In [ ]:
ins = students.insert().values(name = 'Karan', lastname = 'lopez')
str(ins)

El SQL eco en la consola Python no muestra el valor real (Karan en este caso). En cambio, SQLALchemy genera un parámetro de enlace que es visible en forma compilada de la instrucción.

In [ ]:
ins.compile().params

Del mismo modo, métodos como update(), delete() y select() cree expresiones UPDATE, DELETE y SELECT respectivamente.

## Ejecutando expresiones

Para ejecutar las expresiones SQL resultantes, tenemos que obtener un objeto de conexión que represente un recurso de conexión DBAPI comprobado activamente y luego alimente el objeto de expresión como se muestra en el código a continuación.

In [ ]:
conn = engine.connect()

In [ ]:
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = conn.execute(ins) # El insert() se puede usar para el método execute()

In [ ]:
conn.commit()

Resumen de lo hecho hasta ahora

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

engine = create_engine('sqlite:///college.db', echo = True)
conn = engine.connect()

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = conn.execute(ins)

La variable de resultado se conoce como objeto _ResultadoProxy_. Es análogo al objeto del cursor DBAPI. Podemos adquirir información sobre los valores clave primarios que se generaron a partir de nuestra declaración utilizando _ResultadoProxy.inserted_primary_key_

In [ ]:
result.inserted_primary_key

Para hacer muchas inserciones utilizando el método execute, podemos enviar una lista de diccionarios que contienen un conjunto distinto de parámetros que se insertarán.

In [ ]:
conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

## Seleccionando filas

El método `select()` del objeto de tabla nos permite construir la expresión SELECT.

In [ ]:
s = students.select()
str(s)

In [ ]:
result = conn.execute(s)

La variable resultante es un equivalente del cursor en DBAPI. Ahora podemos buscar registros usando el método `fetchone()`.

In [ ]:
row = result.fetchone()
print(row)

In [ ]:
all_row = result.fetchall()
print(all_row)

Todas las filas seleccionadas en la tabla se pueden imprimir por un para bucle

In [ ]:
for row in result:
   print (row)

Un resumen hasta ahora

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

engine = create_engine('sqlite:///college.db', echo = True)
conn = engine.connect()

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

result = conn.execute(students.select())

for row in result:
   print (row)

La cláusula WHERE de la consulta SELECT se puede aplicar utilizando `select.where()`

In [ ]:
s = students.select().where(students.c.id>2)
result = conn.execute(s)

for row in result:
   print (row)

In [ ]:
print(s)

Aquí, tenemos que tener en cuenta que el objeto select también se puede obtener mediante la función `select()` en el módulo sqlalchemy.sql. La función `select()` requiere el objeto de tabla como argumento.

In [ ]:
from sqlalchemy.sql import select

s = select(students)
print(s)
print('')
result = conn.execute(s)
result.fetchall()

## Usando SQL Textual

SQLAlchemy permite usar cadenas, para aquellos casos en los que el SQL ya se conoce y no hay una gran necesidad de que la instrucción admita funciones dinámicas. La construcción `text()` se utiliza para componer una declaración textual que se pasa a la base de datos en su mayoría sin cambios.

In [ ]:
from sqlalchemy import text

t = text("SELECT * FROM students")
result = conn.execute(t)
result.fetchall()

Para enviar valores para los parámetros, los pasamos al método `execute()` como argumentos adicionales.

In [ ]:
from sqlalchemy.sql import text
s = text("SELECT students.name, students.lastname FROM students WHERE students.name BETWEEN :x AND :y")
result = conn.execute(s, {'x': 1, 'y': 5})

result.fetchall()

La construcción `text()` soporta valores enlazados preestablecidos usando el método `TextClause.bindparams()`. Los parámetros también se pueden escribir explícitamente de la siguiente manera −

In [ ]:
from sqlalchemy import bindparam

stmt = text("SELECT * FROM students WHERE students.name BETWEEN :x AND :y")

stmt = stmt.bindparams(
   bindparam("x", type_= String), 
   bindparam("y", type_= String)
)

result = conn.execute(stmt, {"x": "A", "y": "L"})

La función `text()` también puede producirse con fragmentos de SQL mediante el objeto `select()` que acepta objetos `text()` como argumento.

In [ ]:
from sqlalchemy.sql import select

s = select(text("students.name, students.lastname from students")).where(text("students.name between :x and :y"))

conn.execute(s, {'x': 'A', 'y': 'L'}).fetchall()

También se puede usar la función `and_()` para combinar múltiples condiciones en la cláusula WHERE creada con la ayuda de la función `text()`

In [ ]:
from sqlalchemy import and_
from sqlalchemy.sql import select

s = select(text("* from students")) \
.where(
   and_(
      text("students.name between :x and :y"),
      text("students.id>2")
   )
)
conn.execute(s,{'x': 'A', 'y': 'L'}).fetchall()

## Usando Alias

El alias en SQL corresponde a una versión renombrada de una tabla o instrucción SELECT. Los alias permiten que cualquier tabla o subconsulta sea referenciada por un nombre único.

En SQLAlchemy, cualquier tabla, constructor select(), u otro objeto seleccionable se puede convertir en un alias usando el método `Clause.alias()`, que produce una construcción de Alias. La función `alias()` en el módulo sqlalchemy.sql representa un alias, como se aplica típicamente a cualquier tabla o subselect dentro de una instrucción SQL usando la palabra clave AS.

In [ ]:
from sqlalchemy.sql import alias
st = students.alias("a")

Este alias ahora se puede usar en la construcción del select() para referirse a la tabla de estudiantes

In [ ]:
s = select(st).where(st.c.id>2)
print(s)

Ahora podemos ejecutar esta consulta SQL con el método `execute()` del objeto de conexión.

In [ ]:
from sqlalchemy.sql import alias, select

st = students.alias("a")
s = select(st).where(st.c.id > 2)

conn.execute(s).fetchall()

## Usando UPDATE 

El método `update()` en la tabla de destino construye una expresión SQL UPDATE equivalente. Su formato es el siguiente

`table.update().where(conditions).values(SET expressions)`

El método `values()` en el objeto update resultante se utiliza para especificar las condiciones SET de la ACTUALIZACIÓN. Si se dejan como Ninguno, las condiciones SET se determinan a partir de esos parámetros pasados a la instrucción durante la ejecución y/o compilación de la instrucción.

La cláusula Where es una expresión opcional que describe la condición WHERE de la declaración UPDATE.

In [ ]:
conn.execute(students.select()).fetchall()

In [ ]:
# stmt = students.update().where(students.c.lastname == 'Khanna').values(lastname = 'Kapoor')
stmt = students.update().where(students.c.id == 2).values(lastname = 'Kapoor')
print(stmt)
print('')

conn.execute(stmt)
conn.execute(students.select()).fetchall()

El parámetro enlazado _apellido_1_ será sustituido cuando se invoca el método `ejecutar()`. El código de actualización completo quedaría:

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', 
   meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn = engine.connect()
stmt=students.update().where(students.c.id == 2).values(lastname='Kapoor')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

También se puede lograr una funcionalidad similar utilizando la función `update()` del módulo _sqlalchemy.sql.expression_

In [ ]:
from sqlalchemy.sql.expression import update

stmt = update(students).where(students.c.id == 2).values(lastname = 'Kapoor')
print(stmt)

## Usando DELETE

La operación de eliminación se puede lograr ejecutando el método `delete()` en el objeto de la tabla de destino

In [ ]:
stmt = students.delete()
print(stmt)

Lo mismo, pero filtrando las filas que queremos eliminar

In [ ]:
stmt = students.delete().where(students.c.id > 2)
print(stmt)

Resumen

In [ ]:
from sqlalchemy.sql.expression import update
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn = engine.connect()
stmt = students.delete().where(students.c.lastname == 'Khanna')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

## Usando múltiples tablas

Una de las características importantes de RDBMS es establecer la relación entre tablas. Las operaciones SQL como SELECT, UPDATE y DELETE se pueden realizar en tablas relacionadas. Esta sección describe estas operaciones usando SQLAlchemy.

Para este propósito, utilizaremos dos tablas en nuestra base de datos SQLite (college.db): la tabla estudiantes, que ya estamos utilizando, y la tabla direcciones, que crearemos ahora.

In [ ]:
# from sqlalchemy import event

# # Activar claves foráneas en SQLite
# @event.listens_for(engine, "connect")
# def enable_foreign_keys(dbapi_connection, connection_record):
#     cursor = dbapi_connection.cursor()
#     cursor.execute("PRAGMA foreign_keys=ON")
#     cursor.close()

Creación de las tablas students y addresses

In [ ]:
conn.close()

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine = create_engine('sqlite:///college.db', echo=True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String))

meta.create_all(engine)

Inserción de datos

In [ ]:
conn = engine.connect()

In [ ]:
# conn.execute(students.insert(), [
#    {'name':'Ravi', 'lastname':'Kapoor'},
#    {'name':'Rajiv', 'lastname' : 'Khanna'},
#    {'name':'Komal','lastname' : 'Bhandari'},
#    {'name':'Abdul','lastname' : 'Sattar'},
#    {'name':'Priya','lastname' : 'Rajhans'},
# ])

conn.execute(addresses.insert(), [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   {'st_id':3, 'postal_add':'Jubilee Hills Hyderabad', 'email_add':'komal@gmail.com'},
   {'st_id':5, 'postal_add':'MG Road Bangaluru', 'email_add':'as@yahoo.com'},
   {'st_id':2, 'postal_add':'Cannought Place new Delhi', 'email_add':'admin@khanna.com'},
])

Tenga en cuenta que la columna st_id en la tabla de direcciones se refiere a la columna id en la tabla de estudiantes. Ahora podemos usar esta relación para obtener datos de ambas tablas. Queremos ir a buscar nombre y apellido de la tabla de estudiantes correspondiente a st_id en la tabla de direcciones.

In [ ]:
from sqlalchemy.sql import select

s = select(students, addresses).where(students.c.id == addresses.c.st_id)
result = conn.execute(s)

for row in result:
   print (row)

## Utilizando la actualización de múltiples tablas

In [ ]:
stmt = students.update().\
values({
   students.c.name:'xyz',
   addresses.c.email_add:'abc@xyz.com'
}).\
where(students.c.id == addresses.c.st_id)
print(stmt)

In [ ]:
from sqlalchemy import and_

stmt = students.update().\
   values(name = 'xyz').\
   where(and_(students.c.id == addresses.c.st_id, addresses.c.id == 2))
print(stmt)

## Borrado de múltiples tablas

In [ ]:
stmt = students.delete().\
   where(students.c.id == addresses.c.st_id).\
   where(addresses.c.email_add.startswith('xyz%'))

print(stmt)
conn.execute(stmt)

## Usando JOINs

El efecto de la unión se logra simplemente colocando dos tablas en cualquiera de las dos cláusula de columnas o el donde cláusula de la construcción select(). Ahora utilizamos los métodos join() y outerjoin().

`join(right, onclause = None, isouter = False, full = False)`

Las funciones de los parámetros mencionados en el código anterior son las siguientes:

- right: el lado derecho de la unión; este es cualquier objeto de tabla

- onclause: una expresión SQL que representa la cláusula ON de la unión. Si se deja en Ninguno, intenta unirse a las dos tablas en función de una relación de clave externa

- isouter: si es cierto, renderiza un LEFT OUTER JOIN, en lugar de JOIN

- full: si es cierto, representa un FULL OUTER JOIN, en lugar de LEFT OUTER JOIN

In [ ]:
print(students.join(addresses))

In [ ]:
j = students.join(addresses, students.c.id == addresses.c.st_id, isouter=True)
print(j)

In [ ]:
stmt = select(students).select_from(j)
print(stmt)

In [ ]:
result = conn.execute(stmt)
result.fetchall()

En resumen

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine = create_engine('sqlite:///college.db', echo = True)

meta = MetaData()
conn = engine.connect()
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer,ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String)
)

from sqlalchemy import join
from sqlalchemy.sql import select
j = students.join(addresses, students.c.id == addresses.c.st_id)
stmt = select([students]).select_from(j)
result = conn.execute(stmt)
result.fetchall()

## Usando conjunciones

Las conjunciones son funciones en el módulo SQLAlchemy que implementan operadores relacionales utilizados en la cláusula WHERE de expresiones SQL. Los operadores AND, OR, NOT, etc., se utilizan para formar una expresión compuesta que combina dos expresiones lógicas individuales.

### función and_()

In [ ]:
from sqlalchemy import and_

print(
   and_(
      students.c.name == 'Ravi',
      students.c.id <3
   )
)

In [ ]:
stmt = select(students).where(and_(students.c.name == 'Ravi', students.c.id <3))
print(stmt)

### función or_()

In [ ]:
from sqlalchemy import or_
stmt = select(students).where(or_(students.c.name == 'Ravi', students.c.id <3))
print(stmt)

### función asc()

In [ ]:
from sqlalchemy import asc
stmt = select(students).order_by(asc(students.c.name))
print(stmt)

### función desc()

In [ ]:
from sqlalchemy import desc
stmt = select(students).order_by(desc(students.c.lastname))
print(stmt)

### función between()

In [ ]:
from sqlalchemy import between
stmt = select(students).where(between(students.c.id,2,4))
print (stmt)

## Usando funciones

SQL estándar ha recomendado muchas funciones que son implementadas por la mayoría de los motores de bases de datos. La palabra clave `func` en SQLAlchemy API se utiliza para generar estas funciones.

In [ ]:
from sqlalchemy.sql import func

# now()
result = conn.execute(select(func.now()))
print ('NOW: ',result.fetchone(),'\n')

# count()
result = conn.execute(select(func.count(students.c.id)))
print ('COUNT: ',result.fetchone(),'\n')

# max()
result = conn.execute(select(func.max(students.c.id)))
print ('MAX: ',result.fetchone(),'\n')

# min()
result = conn.execute(select(func.min(students.c.id)))
print ('MIN: ',result.fetchone(),'\n')

# avg()
result = conn.execute(select(func.avg(students.c.id)))
print ('AVG: ',result.fetchone(),'\n')

Las funciones se utilizan normalmente en la cláusula de columnas de una sentencia SELECT. También se les puede asignar una etiqueta, además de un tipo. Una etiqueta para una función permite que el resultado se ubique en una fila de resultados según el nombre de una cadena, y se requiere un tipo cuando se necesita procesar el conjunto de resultados.

In [ ]:
result = conn.execute(select(func.max(students.c.lastname).label('Name')))
print (result.fetchone())

## Uso de operaciones de conjunto

### union()

In [ ]:
from sqlalchemy import union, union_all, except_, intersect

u = union(addresses.select().where(addresses.c.email_add.like('%@gmail.com'), addresses.select().where(addresses.c.email_add.like('%@yahoo.com'))))
print(u,'\n')

u = union_all(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.email_add.like('%@yahoo.com')))
print(u,'\n')

u = except_(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.postal_add.like('%Pune')))
print(u,'\n')

u = intersect(addresses.select().where(addresses.c.email_add.like('%@gmail.com')), addresses.select().where(addresses.c.postal_add.like('%Pune')))
print(u,'\n')

# SQLAlchemy ORM

## Declarando el mapeo de objetos

El objetivo principal de la **API Object Relational Mapper** de SQLAlchemy es facilitar la asociación de clases de Python definidas por el usuario con tablas de base de datos, y objetos de esas clases con filas en sus tablas correspondientes. Los cambios en los estados de los objetos y las filas se coinciden sincrónicamente entre sí. SQLAlchemy permite expresar consultas de bases de datos en términos de clases definidas por el usuario y sus relaciones definidas.

El ORM está construido sobre el Lenguaje de Expresión SQL. Es un patrón de uso abstracto y de alto nivel. De hecho, ORM es un uso aplicado del Lenguaje de Expresión.

Aunque una aplicación exitosa se puede construir utilizando el Object Relational Mapper exclusivamente, a veces una aplicación construida con el ORM puede usar el Expression Language directamente donde se requieren interacciones específicas de la base de datos.

## Declarar Mapeo

En primer lugar, la función create_engine() se llama para configurar un objeto de motor que se utiliza posteriormente para realizar operaciones SQL. La función tiene dos argumentos, uno es el nombre de la base de datos y otro es un parámetro de eco que cuando se establece en True generará el registro de actividad. Si no existe, se creará la base de datos. En el siguiente ejemplo, se crea una base de datos SQLite.

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///sales.db', echo = True)

El Motor establece una conexión DBAPI real a la base de datos cuando se llama a un método como `Engine.execute()` o `Engine.connect()`. Luego se usa para emitir el SQL-ORM que no usa el Motor directamente; en cambio, el ORM lo usa detrás de escena.

### declarative_base()

En el caso de ORM, el proceso de configuración comienza describiendo las tablas de la base de datos y luego definiendo las clases que se asignarán a esas tablas. En SQLAlchemy, estas dos tareas se realizan juntas. Esto se hace mediante el uso del sistema declarativo; las clases creadas incluyen directivas para describir la tabla de base de datos real a la que están asignadas.

Una clase base almacena un catálogo de clases y tablas asignadas en el sistema declarativo. Esto se llama como la **clase base declarativa**. Por lo general, solo habrá una instancia de esta base en un módulo comúnmente importado. La función `declarative_base()` se utiliza para crear la clase base. Esta función se define en el módulo _sqlalchemy.ext.declarative_.

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

Una vez declarada la clase base, se puede definir cualquier número de clases asignadas en términos de la misma. El siguiente código define una clase de _Clientes_. Contiene la tabla a la que se asignará, y los nombres y tipos de datos de las columnas en ella.

In [ ]:
from sqlalchemy import Column, String, Integer

class Customers(Base):
   __tablename__ = 'customers'
   
   id = Column(Integer, primary_key = True)
   name = Column(String)
   address = Column(String)
   email = Column(String)

Una clase en declarativo debe tener un atributo \__tablename__, y al menos una columna que es parte de una clave primaria. Este declarativo reemplaza a todos los objetos _Columns_ con accesos especiales de Python conocidos como descriptores. Este proceso se conoce como instrumentación que proporciona los medios para referirse a la tabla en un contexto SQL y permite persistir y cargar los valores de las columnas desde la base de datos.

Esta clase asignada como una clase normal de Python tiene atributos y métodos según el requisito.

La información sobre la clase en el sistema declarativo, se llama como metadatos de tabla. SQLAlchemy utiliza el objeto Table para representar esta información para una tabla específica creada por la declaración. El objeto Table se crea de acuerdo con las especificaciones y se asocia con la clase mediante la construcción de un objeto Mapper. Este objeto mapeador no se usa directamente, sino que se usa internamente como interfaz entre la clase asignada y la tabla.

Cada objeto Table es un miembro de una colección más grande conocida como MetaData y este objeto está disponible utilizando el atributo _.metadata_ de la clase *declarative_base*. El método `MetaData.create_all()` es, pasar en nuestro motor como fuente de conectividad de base de datos. Para todas las tablas que aún no se han creado, emite instrucciones CREATE TABLE a la base de datos.

In [ ]:
Base.metadata.create_all(engine)

El script completo para crear una base de datos y una tabla, y para mapear la clase Python se muestra a continuación

In [ ]:
from sqlalchemy import Column, Integer, String, create_engine
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine('sqlite:///sales.db', echo = True)
Base = declarative_base()

class Customers(Base):
   __tablename__ = 'customers'
   id = Column(Integer, primary_key=True)
   name = Column(String)
   address = Column(String)
   email = Column(String)

Base.metadata.create_all(engine)

## Creando sesiones

Para interactuar con la base de datos, necesitamos obtener su identificador. Un objeto de sesión es el identificador de la base de datos. La clase de sesión se define usando `sessionmaker()`, un método configurable de fábrica de sesiones que está vinculado al objeto del motor creado anteriormente.

In [ ]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(engine)

El objeto de sesión se configura utilizando su constructor predeterminado de la siguiente manera

In [ ]:
session = Session()

| Sr. No. | Método         | Descripción                                                                                             |
|--------|----------------|---------------------------------------------------------------------------------------------------------|
| 1      | `begin()`      | Comienza una transacción en esta sesión                                                                |
| 2      | `add()`      | Coloca un objeto en la sesión. Su estado se mantiene en la base de datos en la siguiente operación de descarga |
| 3      | `add_all()`     | Agrega una colección de objetos a la sesión                                                             |
| 4      | `commit()`      | Descarga todos los artículos y cualquier transacción en progreso                                       |
| 5      | `delete()`    | Marca una transacción como eliminada                                                                   |
| 6      | `execute()`    | Ejecuta una expresión SQL                                                                              |
| 7      | `expire()`     | Marca los atributos de una instancia como desactualizados                                              |
| 8      | `flush()`       | Descarga todos los cambios de objetos a la base de datos                                               |
| 9      | `invalidate()`   | Cierra la sesión usando la invalidación de la conexión                                                 |
| 10     | `rollback()`   | Devuelve la transacción actual en curso                                                                |
| 11     | `close()`      | Cierra la sesión actual borrando todos los elementos y terminando cualquier transacción en progreso    |

## Agregar objetos

En los capítulos anteriores de SQLAlchemy ORM, hemos aprendido cómo declarar el mapeo y crear sesiones. En este capítulo, aprenderemos cómo agregar objetos a la tabla.

Hemos declarado la clase de cliente que se ha asignado a la tabla de clientes. Tenemos que declarar un objeto de esta clase y agregarlo persistentemente a la tabla mediante el método add() del objeto de sesión.

In [ ]:
c1 = Customers(name = 'Ravi Kumar', address = 'Station Road Nanded', email = 'ravi@gmail.com')
session.add(c1)

Tenga en cuenta que esta transacción está pendiente hasta que se complete utilizando el método `commit()`.

In [ ]:
session.commit()

Para agregar múltiples registros, podemos usar el método `add_all()` de la clase de sesión.

In [ ]:
session.add_all([
   Customers(name = 'Komal Pande', address = 'Koti, Hyderabad', email = 'komal@gmail.com'), 
   Customers(name = 'Rajender Nath', address = 'Sector 40, Gurgaon', email = 'nath@gmail.com'), 
   Customers(name = 'S.M.Krishna', address = 'Budhwar Peth, Pune', email = 'smk@gmail.com')]
)

session.commit()

## Usando consultas

Todas las instrucciones SELECT generadas por SQLAlchemy ORM están construidas por el objeto Query. Proporciona una interfaz generativa, por lo tanto, las llamadas sucesivas devuelven un nuevo objeto de consulta, una copia del primero con criterios y opciones adicionales asociados.

Los objetos de consulta se generan inicialmente utilizando el método query() de la sesión de la siguiente forma:

`session.query(mapped class)`

El objeto de consulta tiene el método `all()` que devuelve un conjunto de resultados en forma de lista de objetos.

In [ ]:
result = session.query(Customers).all()

for row in result:
   print ("Name: ",row.name, "Address:",row.address, "Email:",row.email)

| Sr. No. | Método           | Descripción                                                                                                              |
|--------|------------------|--------------------------------------------------------------------------------------------------------------------------|
| 1      | `add_columns()`  | Agrega una o más expresiones de columna a la lista de columnas de resultados que se devolverán.                         |
| 2      | `add_entity()`   | Agrega una entidad asignada a la lista de columnas de resultados a devolver.                                            |
| 3      | `count()`        | Devuelve un recuento de filas que devolvería esta consulta.                                                             |
| 4      | `delete()`      | Realiza una consulta de eliminación masiva. Elimina las filas coincidentes con esta consulta de la base de datos.      |
| 5      | `distinct()`      | Aplica una cláusula DISTINCT a la consulta y devuelve la consulta recién resultante.                                    |
| 6      | `filter()`        | Aplica el criterio de filtrado dado a una copia de esta Consulta, utilizando expresiones SQL.                           |
| 7      | `first()`       | Devuelve el primer resultado de esta Consulta o `None` si el resultado no contiene ninguna fila.                        |
| 8      | `get()`           | Devuelve una instancia basada en el identificador de clave principal dado, con acceso directo al mapa de identidad.     |
| 9      | `group_by()`     | Aplica uno o más criterios `GROUP BY` a la consulta y devuelve la consulta recién resultante.                           |
| 10     | `join()`        | Crea un `JOIN` SQL contra este criterio de objetos de consulta y devuelve la consulta recién resultante.               |
| 11     | `one()`           | Devuelve exactamente un resultado o lanza una excepción.                                                                |
| 12     | `oredr_by()`     | Aplica uno o más criterios `ORDER BY` a la consulta y devuelve la consulta recién resultante.                           |
| 13     | `update()` | Realiza una consulta de actualización masiva y actualiza las filas coincidentes con esta consulta en la base de datos. |

## Actualizando objetos

Para modificar los datos de un determinado atributo de cualquier objeto, tenemos que asignarle un nuevo valor y comprometer los cambios para que el cambio sea persistente.

Vamos a buscar un objeto de la tabla cuyo identificador de clave principal, en nuestra tabla de Clientes con ID=2. Podemos usar el método de sesión `get()`

In [ ]:
x = session.query(Customers).get(2)

In [ ]:
print ("Name: ", x.name, "-Address:", x.address, "-Email:", x.email)

Ahora necesitamos actualizar el campo Dirección asignando un nuevo valor

In [ ]:
x.address = 'Banjara Hills Secunderabad'
session.commit()

El cambio se reflejará persistentemente en la base de datos. Ahora buscamos el objeto correspondiente a la primera fila de la tabla usando método first()

In [ ]:
x = session.query(Customers).first()

In [ ]:
print ("Name: ", x.name, "Address:", x.address, "Email:", x.email)

Ahora cambie el atributo name y muestre el contenido

In [ ]:
x.name = 'Ravi Shrivastava'
print ("Name: ", x.name, "Address:", x.address, "Email:", x.email)

Aunque se muestra el cambio, no está comprometido. Puede conservar la posición persistente anterior usando método `rollback()`

In [ ]:
session.rollback()
print ("Name: ", x.name, "Address:", x.address, "Email:", x.email)

Para actualizaciones masivas, utilizaremos el método update() del objeto Query. Intentemos dar un prefijo, Sr. para nombrar en cada fila (excepto ID = 2).

In [ ]:
session.query(Customers).filter(Customers.id != 2).\
update({Customers.name:"Mr."+Customers.name}, synchronize_session = False)

El método `update()` requiere dos parámetros:

- Un diccionario con el valor clave que es el atributo a actualizar y el valor que es el nuevo contenido del atributo.

- el atributo *synchronize_session* que menciona la estrategia para actualizar atributos en la sesión. Los valores válidos son falsos: para no sincronizar la sesión, fetch: realiza una consulta de selección antes de la actualización para encontrar objetos que coincidan con la consulta de actualización; y evalúa: evalúa criterios sobre objetos en la sesión.

Tres de las 4 filas de la tabla tendrán el nombre prefijado con Mr. Sin embargo, los cambios no están comprometidos y, por lo tanto, no se reflejarán en la vista de tabla de SQLiteStudio. Se actualizará solo cuando comprometamos la sesión.

## Aplicando filtros

En este capítulo, discutiremos cómo aplicar el filtro y también ciertas operaciones de filtro junto con sus códigos.

El conjunto de resultados representado por el objeto Query puede someterse a ciertos criterios mediante el método `filter()`.

In [ ]:
result = session.query(Customers).filter(Customers.id>2)
print(result)

In [ ]:
for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

## Operadores de Filtros

In [ ]:
# Igual =
print("=========== IGUAL ================")
result = session.query(Customers).filter(Customers.id == 2)

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
print("")

# No igual !=
print("=========== NO IGUAL ================")
result = session.query(Customers).filter(Customers.id != 2)

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
print("")

# LIKE
print("=========== LIKE ================")
result = session.query(Customers).filter(Customers.name.like('Ra%'))

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
print("")

# IN
print("=========== IN ================")
result = session.query(Customers).filter(Customers.id.in_([1,3]))

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
print("")

# AND
print("=========== AND ================")
#  opcion 1
result = session.query(Customers).filter(Customers.id>2, Customers.name.like('Ra%'))

#  opcion 1
result = session.query(Customers).filter(and_(Customers.id>2, Customers.name.like('Ra%')))

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
print("")

# OR
print("=========== OR ================")
result = session.query(Customers).filter(or_(Customers.id>2, Customers.name.like('Ra%')))

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)
print("")

## Devolviendo listas y valores escalares

Hay una serie de métodos de objeto de consulta que emiten inmediatamente SQL y devuelven un valor que contiene resultados de base de datos cargados.

Aquí hay un breve resumen de la lista de devoluciones y escalares.

In [ ]:
# all(): devuelve una lista con todos los elementos de una tabla
session.query(Customers).all()

# first(): devuelve el primer elemento de una tabla
session.query(Customers).first()

# one(): obtienen todas las filas y si no hay exactamente una 
# identidad de objeto/fila compuesta, genera un error. Es útil para sistemas
# que esperan manejar ningún elemento encontrado frente a múltiples elementos encontrados de manera diferente
# result = session.query(Customers).one()

# scalar(): invoca el método one() y, si es extisoso, devuelve la primera columna de la fila
session.query(Customers).filter(Customers.id == 3).scalar()

## Text

Anteriormente, se ha explicado como escribir SQL textual utilizando la función text() desde la perspectiva del lenguaje de expresión de SQLAlchemy Core. Ahora lo discutiremos desde el punto de vista de ORM.

Las cadenas literales se pueden usar de manera flexible con el objeto Query especificando su uso con la construcción text(). La mayoría de los métodos aplicables lo aceptan. Por ejemplo, filter() y order_by().

En el ejemplo que se muestra a continuación, el método filter() traduce la cadena id<3 a la WHERE id<3

In [ ]:
from sqlalchemy import text
for cust in session.query(Customers).filter(text("id<3")):
   print(cust.name)

Para especificar parámetros de enlace con SQL basado en cadenas, use dos puntos, y para especificar los valores, use el método params().

In [ ]:
cust = session.query(Customers).filter(text("id = :value")).params(value = 1).one()
print(cust)

Para usar una instrucción basada completamente en cadenas, se puede pasar una construcción text() que representa una instrucción completa a `from_statement()`.

In [ ]:
session.query(Customers).from_statement(text("SELECT * FROM customers")).all()

La construcción text() nos permite vincular su SQL textual a expresiones de columna Core o ORM asignadas posicionalmente. Podemos lograr esto pasando expresiones de columna como argumentos posicionales al método TextClause.columns().

In [ ]:
stmt = text("SELECT name, id, name, address, email FROM customers")
stmt = stmt.columns(Customers.id, Customers.name)
session.query(Customers.id, Customers.name).from_statement(stmt).all()

In [ ]:
# session.commit()

## Construyendo Relación

Esta sesión describe la creación de otra tabla relacionada con una ya existente en nuestra base de datos. La tabla de clientes contiene datos maestros de clientes. Ahora necesitamos crear una tabla de facturas que pueda tener cualquier número de facturas pertenecientes a un cliente. Este es un caso de una a muchas relaciones.

In [ ]:
from sqlalchemy.orm import relationship
from sqlalchemy import ForeignKey

engine = create_engine('sqlite:///sales.db', echo = True)
Base = declarative_base()

class Customer(Base):
   __tablename__ = 'customers'

   id = Column(Integer, primary_key = True)
   name = Column(String)
   address = Column(String)
   email = Column(String)
   invoices = relationship("Invoice", back_populates = "customer")

class Invoice(Base):
   __tablename__ = 'invoices'
   
   id = Column(Integer, primary_key = True)
   invno = Column(Integer)
   amount = Column(Integer)
   custid = Column(Integer, ForeignKey('customers.id'))
   customer = relationship("Customer", back_populates = "invoices")

Base.metadata.create_all(engine)

La clase Facturas aplica la construcción ForeignKey en el atributo custid. Esta directiva indica que los valores en esta columna deben limitarse a ser valores presentes en la columna de identificación en la tabla de clientes. 

Una segunda directiva, conocida como relationship(), le dice al ORM que la clase Factura debe estar vinculada a la clase Cliente utilizando el atributo Invoice.customer. La relación() utiliza las relaciones de clave externa entre las dos tablas para determinar la naturaleza de este vínculo, determinando que es de muchos a uno.

Se coloca una directiva de relación adicional() en la clase asignada por el Cliente bajo el atributo Customer.invoices. El parámetro relationship.back_populates se asigna para referirse a los nombres de atributos complementarios, de modo que cada relationship() pueda tomar una decisión inteligente sobre la misma relación que se expresa a la inversa. Por un lado, Invoices.customer se refiere a la instancia de Invoices, y por otro lado, Customer.invoices se refiere a una lista de instancias de Customer.

La función de relación es una parte de la API de relación del paquete ORM de SQLAlchemy. Proporciona una relación entre dos clases mapeadas. Esto corresponde a una relación padre-hijo o tabla asociativa.

Los siguientes son los Patrones de Relación básicos encontrados −

### Uno Para Muchos
Una relación de Uno a Muchos se refiere a los padres con la ayuda de una clave externa en la tabla infantil. relationship() se especifica en el padre, como referencia a una colección de elementos representados por el niño. El parámetro relationship.back_populates se utiliza para establecer una relación bidireccional de uno a muchos, donde el reverso es de muchos a uno.

### Muchos A Uno
Por otro lado, la relación Many to One coloca una clave externa en la tabla principal para referirse al niño. relationship() se declara en el padre, donde se creará un nuevo atributo de retención escalar. Aquí de nuevo el parámetro relationship.back_populates se usa para el comportamiento bidireccional.

### Uno A Uno
La relación Uno a Uno es esencialmente una relación bidireccional en la naturaleza. El indicador de lista de uso indica la colocación de un atributo escalar en lugar de una colección en los muchos lados de la relación. Para convertir uno a muchos en un tipo de relación uno a uno, establezca el parámetro de lista de uso en falso.

### Muchos Para Muchos
La relación de Muchos a Muchos se establece agregando una tabla de asociación relacionada con dos clases definiendo atributos con sus claves externas. Está indicado por el argumento secundario a relationship(). Por lo general, la Tabla utiliza el objeto MetaData asociado con la clase base declarativa, de modo que las directivas ForeignKey pueden localizar las tablas remotas con las que vincular. El parámetro relationship.back_populates para cada relación() establece una relación bidireccional. Ambos lados de la relación contienen una colección.

## Trabajando con objetos relacionales

Ahora, cuando creamos un objeto Cliente, una colección de facturas en blanco estará presente en forma de Python List.

In [ ]:
c1 = Customer(name = "Gopal Krishna", address = "Bank Street Hydarebad", email = "gk@gmail.com")

In [ ]:
c1.invoices = [Invoice(invno = 10, amount = 15000), Invoice(invno = 14, amount = 3850)]

In [ ]:
Session = sessionmaker(bind = engine)
session = Session()
session.add(c1)
session.commit()

Puede construir el objeto Cliente proporcionando el atributo mapeado de facturas en el propio constructor

In [ ]:
c2 = [
   Customer(
      name = "Govind Pant", 
      address = "Gulmandi Aurangabad",
      email = "gpant@gmail.com",
      invoices = [Invoice(invno = 3, amount = 10000), 
      Invoice(invno = 4, amount = 5000)]
   )
]

O una lista de objetos que se agregarán usando la función add_all() del objeto de sesión

In [ ]:
rows = [
   Customer(
      name = "Govind Kala", 
      address = "Gulmandi Aurangabad", 
      email = "kala@gmail.com", 
      invoices = [Invoice(invno = 7, amount = 12000), Invoice(invno = 8, amount = 18500)]),

   Customer(
      name = "Abdul Rahman", 
      address = "Rohtak", 
      email = "abdulr@gmail.com",
      invoices = [Invoice(invno = 9, amount = 15000), 
      Invoice(invno = 11, amount = 6000)
   ])
]

session.add_all(rows)
session.commit()

## Trabajando con JOINs

Ahora que tenemos dos tablas, veremos cómo crear consultas en ambas tablas al mismo tiempo. Para construir una simple unión implícita entre el Cliente y la Factura, podemos usar Query.filter() para equiparar sus columnas relacionadas.

In [ ]:
for c, i in session.query(Customer, Invoice).filter(Customer.id == Invoice.custid).all():
   print ("ID: {} Name: {} Invoice No: {} Amount: {}".format(c.id,c.name, i.invno, i.amount))

La sintaxis SQL JOIN real se logra fácilmente utilizando el método Query.join()

In [ ]:
session.query(Customer).join(Invoice).filter(Invoice.amount == 8500).all()

In [ ]:
result = session.query(Customer).join(Invoice).filter(Invoice.amount == 8500)
for row in result:
   for inv in row.invoices:
      print (row.id, row.name, inv.invno, inv.amount)

Query.join() sabe cómo unirse entre estas tablas porque solo hay una clave externa entre ellas. Si no hubiera claves extranjeras, o más claves extranjeras, Query.join() funciona mejor cuando se usa uno de los siguientes formularios:

| Sintaxis `join()`                           | Tipo de condición                  | Descripción                                                                                        |
| ------------------------------------------- | ---------------------------------- | -------------------------------------------------------------------------------------------------- |
| `query.join(Invoice, id == Customers.custid)` | Condición explícita (`ON`)         | Une las tablas usando una condición manual. Es útil si no hay relación ORM o querés control total. |
| `query.join(Customers.Invoice)`              | Relación ORM (izquierda a derecha) | Usa la relación definida en el modelo. SQLAlchemy infiere la condición de `JOIN`.                  |
| `query.join(Invoice, Customer.invoices)`    | Relación ORM (objetivo explícito)  | Igual que la anterior, pero más explícito: especificás la tabla objetivo también.                  |
| `query.join('Invoice')`                    | Relación por nombre (string)       | Similar al anterior, pero usás el nombre de la relación como cadena. Útil en consultas dinámicas.  |


De manera similar, la función outerjoin() está disponible para lograr la unión externa izquierda.

In [ ]:
session.query.outerjoin(Customer.invoices)

El método subquery() produce una expresión SQL que representa la instrucción SELECT incrustada dentro de un alias.

In [ ]:
from sqlalchemy.sql import func

subq = session.query(
   Invoice.custid, func.count('*').label('invoice_count')
).group_by(Invoice.custid).subquery()
print(subq)

Una vez que tenemos nuestra declaración, se comporta como una construcción de tabla. Se puede acceder a las columnas en la instrucción a través de un atributo llamado c como se muestra en el siguiente código

In [ ]:
for u, count in session.query(Customer, subq.c.invoice_count).outerjoin(subq, Customer.id == subq.c.custid).order_by(Customer.id):
   print(u.name, count)

SELECT customers.id AS customers_id,
        customers.name AS customers_name,
        customers.address AS customers_address,
        customers.email AS customers_email,
        anon_1.invoice_count AS anon_1_invoice_count 
FROM customers 
LEFT OUTER JOIN (SELECT invoices.custid AS custid, 
                        count(?) AS invoice_count 
                   FROM invoices 
               GROUP BY invoices.custid) AS anon_1 
        ON customers.id = anon_1.custid
ORDER BY customers.id

## Operadores de Relaciones

In [ ]:
# __eq__(): igual a (comparación de muchos a uno)
s = session.query(Customer).filter(Invoice.invno.__eq__(12))

# __ne__(): igual a (comparación de muchos a uno)
s = session.query(Customer).filter(Invoice.custid.__ne__(2))

# contains(): contiene (operador para colecciones de uno a muchos)
s = session.query(Invoice).filter(Invoice.invno.contains([3,4,5]))

# any(): algún (operador para colecciones)
s = session.query(Customer).filter(Customer.invoices.any(Invoice.invno==11))

# has(): tiene ( operador para referencias escalares)
s = session.query(Invoice).filter(Invoice.customer.has(name = 'Arjun Pandit'))